.boardContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 1200px;
}


.pageHeading {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.head {
   margin: 0;
  padding: 0;
  background-color: #CCCCCC;
}
.todotaskcount {
  color: blue;
}
.inprogresstaskcount {
  color: orangered;
}
.donetaskcount {
  color: green;
}

.lanes {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  height:100% !important;
}

.ToDo {
  display: inline-block;
  margin: 5px;
  padding: 0;
  background-color: #96dadf;
  width:32%;
}
.inProgress {
  display: inline-block;
  margin: 5px;
  padding: 0;
  background-color: rgb(224, 145, 125);
  width:32%;
}
.Done {
  display: inline-block;
  margin: 5px;
  padding: 0;
  background-color: #94ca7f;
  width:32%;
}